* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.barchart-container {
  width: 100%;
  padding: 20px;
  background: radial-gradient(circle, #1e1e1e 40%, #303030 100%);
  border-radius: 15px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.6);
  animation: fadeIn 1.5s ease-in-out;
  overflow: hidden;
}

.barchart-header {
  color: #FFD700;
  font-family: 'Poppins', sans-serif;
  font-size: 34px;
  text-shadow: 0 0 15px rgba(255, 215, 0, 0.8), 0 0 30px rgba(255, 140, 0, 0.6);
  margin-bottom: 20px;
  animation: glow 1.5s infinite alternate;
}

.barchart-svg {
  width: 100%;
  height: 500px;
  border-radius: 10px;
  animation: draw 1s ease-out;
}

.bar {
  transition: fill 0.3s ease, transform 0.3s ease, filter 0.3s ease;
  transform-origin: bottom;
}

.bar:hover {
  transform: scaleY(1.1) translateZ(10px) rotateX(10deg);
  cursor: pointer;
  filter: drop-shadow(0px 0px 30px rgba(255, 215, 0, 1));
}

.axis-label {
  font-size: 15px;
  fill: #e0e0e0;
}

.label {
  fill: #ffffff;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  font-size: 15px;
  transition: opacity 0.5s;
}

@keyframes glow {
  from {
    text-shadow: 0 0 25px rgba(255, 215, 0, 0.6);
  }
  to {
    text-shadow: 0 0 45px rgba(255, 215, 0, 1);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes draw {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.bar:hover {
  filter: drop-shadow(0px 0px 10px rgba(255, 140, 0, 1));
  transition: transform 0.2s ease, filter 0.2s ease;
}
